<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oliver's web Page</title>
        <link rel="stylesheet" href="/stylesheet/styles.css" />
    </head>

    <body>
        <!-- <div style="background-color:bisque; height:1000px"></div> -->
        <div class="container">
            <div class="item">
                Oliver Wagner Cheseaux
            </div>
            <ul class="nav item">
                <li><a href="/home">Home</a></li>
                <li><a href="/about"> About</a></li>
                <li><a href="/photo-galery">Photo galery</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </div>
        </div>
        <div>
            <img id="img-home" src="/images/8.jpeg" alt="oliver presentation">
            <h1 class="text-home">Wellcome to my web Page</h1>
        </div>


    </body>

</html>