<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheet/styles.css" />
        <title>photos</title>
    </head>

    <body>
        <div class="container">
            <div class="item">
                Oliver Wagner Cheseaux
            </div>
            <ul class="nav item">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/photo-galery">Photo galery</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </div>
        <div class="images-section">
            <img id="img-about" src="/images/1.jpeg" alt="oliver presentation">
            <img id="img-about" src="/images/2.jpeg" alt="oliver presentation">
            <img id="img-about" src="/images/3.jpeg" alt="oliver presentation">
            <img id="img-about" src="/images/4.jpeg" alt="oliver presentation">
            <img id="img-about" src="/images/5.jpeg" alt="oliver presentation">
            <img id="img-about" src="/images/9.jpeg" alt="oliver presentation">
        </div>
        <div style="background-color:bisque; height:1000px"></div>
    </body>

</html>