<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheet/styles.css" />
        <title>works</title>
    </head>

    <body>
        <!-- <div style="background-color:bisque; height:1000px"></div> -->
        <div class="container">
            <div class="item">
                Oliver Wagner Cheseaux
            </div>
            <ul class="nav item">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/photo-galery">Photo galery</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </div>

        <div id="about-">
            <h3 class="text-about">Luckily I don't work, I enjoy the life sleeping among other things...</h3>
            <img id="img-work" src="/images/sleeping.jpeg" alt="oliver presentation">
        </div>

    </body>

</html>